===============================================
>>注意：网络必须要为交大校内IP地址<<
===============================================
Python 3.9+ & Chrome 130+
lxml == 6.0.2
requests == 2.32.5
img2pdf == 0.6.3
selenium == 4.24.0
===============================================